.heading{
  text-align: center;
 font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}






.aboutme{
  text-align: center;
  color: FloralWhite
}
.aboutmepara{
text-align: center;
  color: FloralWhite
}

.interestinit{
  text-align: center;
  color: FloralWhite
}
.interestinitparagraph{
text-align: center;
  color: FloralWhite
}

.whyichosermit{
  text-align: center;
  color: FloralWhite
}

.whyichoserimtparagraph{
text-align: center;
    color: FloralWhite
}

.Whatexpecttolearn{
  text-align: center;
  color: FloralWhite
}

.whatexpecttolearnparagraph{
text-align: center;
  color: FloralWhite
}

.myidealjobheader{
  text-align: center;
  font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}

.linktoidealjob{
  text-align: center;
  color: FloralWhite
}

.overviewofposition{
text-align: center;
  color: FloralWhite
}

.overviewofpositionparagraph{
text-align: center;
  color: FloralWhite
}

.skillsqualifications{
  text-align: center;
  color: FloralWhite
}

.skillsqualificationsparagraph{
text-align: center;
    color: FloralWhite
}
.requirement1{
  text-align: center;
      color: FloralWhite
}
.requirement2{
  text-align: center;
      color: FloralWhite
}
.requirement3{
  text-align: center;
      color: FloralWhite
}
.requirement4{
  text-align: center;
      color: FloralWhite
}
.requirement5{
  text-align: center;
      color: FloralWhite
}
.requirement6{
  text-align: center;
      color: FloralWhite
}
.requirement7{
  text-align: center;
      color: FloralWhite
}
.requirement8{
  text-align: center;
      color: FloralWhite
}
.requirement9{
  text-align: center;
      color: FloralWhite
}
.requirement10{
  text-align: center;
      color: FloralWhite
}
.requirement11{
  text-align: center;
      color: FloralWhite
}
.requirement12{
  text-align: center;
      color: FloralWhite
}


.skillsihave{
  text-align: center;
      color: FloralWhite
}

.skillsihaveparagraph{
  text-align: center;
      color: FloralWhite
}

.howiplantobuildskills{
  text-align: center;
      color: FloralWhite
}
.howiplantobuildskillsparagraph{
  text-align: center;
      color: FloralWhite
}

.myprojecttitle{
  text-align: center;
  font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}

.overviewofmyproject{
  text-align: center;
  color: FloralWhite
}

.overviewofmyprojectparagraph{
    color: FloralWhite
}

.motivationforproject{
  text-align: center;
  color: FloralWhite
}
.motivationforprojectparagraph{
  color: FloralWhite
}
.descriptionofproject{
  text-align: center;
  color: FloralWhite
}
.descriptionofprojectparagraph{
  color: FloralWhite
}

.toolsandtechneeded{
  text-align: center;
  color: FloralWhite
}
.toolsandtechneededparagraph{
  color: FloralWhite
}

.skillsandotherrequirements{
  text-align: center;
  color: FloralWhite
}
.skillsandotherrequirementsparagraph{
  color: FloralWhite
}
.projectoutcome{
  text-align: center;
  color: FloralWhite
}
.projectoutcomeparagraph{
  color: FloralWhite
}
