.heading{
  text-align: center;
  color: Lightgoldenrodyellow
}

.aboutme{
  text-align: center;
  color: FloralWhite
}
.aboutmepara{
text-align: center;
  color: FloralWhite
}

.interestinit{
  text-align: center;
  color: FloralWhite
}
.interestinitparagraph{
  color: FloralWhite
}

.whyichosermit{
  text-align: center;
  color: FloralWhite
}

.whyichoserimtparagraph{
    color: FloralWhite
}

.Whatexpecttolearn{
  text-align: center;
  color: FloralWhite
}

.whatexpecttolearnparagraph{
  color: FloralWhite
}

.myidealjobheader{
  text-align: center;
  color: Fuchsia
}

.linktoidealjob{
  text-align: center;
  color: FloralWhite
}

.overviewofposition{
  text-align: center;
  color: FloralWhite
}

.overviewofpositionparagraph{
  color: FloralWhite
}

.skillsqualifications{
  text-align: center;
  color: FloralWhite
}

.skillsqualificationsparagraph{
    color: FloralWhite
}

.skillsihave{
  text-align: center;
  color: FloralWhite
}
.skillsihaveparagraph{
  color: FloralWhite
}

.myprojecttitle{
  text-align: center;
  color: Fuchsia
}

.overviewofmyproject{
  text-align: center;
  color: FloralWhite
}

.overviewofmyprojectparagraph{
    color: FloralWhite
}

.motivationforproject{
  text-align: center;
  color: FloralWhite
}
.motivationforprojectparagraph{
  color: FloralWhite
}
.descriptionofproject{
  text-align: center;
  color: FloralWhite
}
.descriptionofprojectparagraph{
  color: FloralWhite
}

.toolsandtechneeded{
  text-align: center;
  color: FloralWhite
}
.toolsandtechneededparagraph{
  color: FloralWhite
}

.skillsandotherrequirements{
  text-align: center;
  color: FloralWhite
}
.skillsandotherrequirementsparagraph{
  color: FloralWhite
}
.projectoutcome{
  text-align: center;
  color: FloralWhite
}
.projectoutcomeparagraph{
  color: FloralWhite
}
