.heading{
  text-align: center;
 font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}



.headingofidealjob{
  text-align: center;
 font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}


.Mypersonalprofile{
  text-align: center;
 font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}

.theresultsoftests{
  text-align: center;
    color: FloralWhite
}

.thelinkstothem{
  text-align: center;
    color: FloralWhite
}

.testresultsheader1{
  text-align: center;
 font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}

.myerbriggzresultz{
  text-align: center;
    color: FloralWhite
}

.myerbriggsimage{
  text-align: center;
}

.learningstylequiz1{
  text-align: center;
    color: FloralWhite
}

.learningstylequizimage{
  text-align: center;
}

.learnignstylequizlink{
  text-align: center;
  color: FloralWhite
}

.Creativitytestresult{
  text-align: center;
  color: FloralWhite
}

.creativitytestimage{
  text-align: center;
}

.linktocreativitytest{
  text-align: center;
}

.whatthetestresultsmeantome{
  text-align: center;
  color: FloralWhite
}

.whatthetestresultsmeantomepara{
  text-align: center;
  color: FloralWhite
}

.howtheyinfluencemeandhowishouldtakeitintoaccount{
  text-align: center;
  color: FloralWhite
}

.howtheyinfluencemeandhowishouldtakeitintoaccountpara{
  text-align: center;
  color: FloralWhite
}

.aboutme{
  text-align: center;
  color: FloralWhite
}
.aboutmepara{
text-align: center;
  color: FloralWhite
}

.interestinit{
  text-align: center;
  color: FloralWhite
}
.interestinitparagraph{
text-align: center;
  color: FloralWhite
}

.whyichosermit{
  text-align: center;
  color: FloralWhite
}

.whyichoserimtparagraph{
text-align: center;
    color: FloralWhite
}

.Whatexpecttolearn{
  text-align: center;
  color: FloralWhite
}

.whatexpecttolearnparagraph{
text-align: center;
  color: FloralWhite
}

.myidealjobheader{
  text-align: center;
  font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}

.linktoidealjob{
  text-align: center;
  color: FloralWhite
}

.overviewofposition{
text-align: center;
  color: FloralWhite
}

.overviewofpositionparagraph{
text-align: center;
  color: FloralWhite
}

.skillsqualifications{
  text-align: center;
  color: FloralWhite
}

.skillsqualificationsparagraph{
text-align: center;
    color: FloralWhite
}
.requirement1{
  text-align: center;
      color: FloralWhite
}
.requirement2{
  text-align: center;
      color: FloralWhite
}
.requirement3{
  text-align: center;
      color: FloralWhite
}
.requirement4{
  text-align: center;
      color: FloralWhite
}
.requirement5{
  text-align: center;
      color: FloralWhite
}
.requirement6{
  text-align: center;
      color: FloralWhite
}
.requirement7{
  text-align: center;
      color: FloralWhite
}
.requirement8{
  text-align: center;
      color: FloralWhite
}
.requirement9{
  text-align: center;
      color: FloralWhite
}
.requirement10{
  text-align: center;
      color: FloralWhite
}
.requirement11{
  text-align: center;
      color: FloralWhite
}
.requirement12{
  text-align: center;
      color: FloralWhite
}


.skillsihave{
  text-align: center;
      color: FloralWhite
}

.skillsihaveparagraph{
  text-align: center;
      color: FloralWhite
}

.howiplantobuildskills{
  text-align: center;
      color: FloralWhite
}
.howiplantobuildskillsparagraph{
  text-align: center;
      color: FloralWhite
}

.myprojecttitle{
  text-align: center;
  font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}

.overviewofmyproject{
  text-align: center;
  color: FloralWhite
}

.overviewofmyprojectparagraph{
  text-align: center;
  color: FloralWhite

}

.motivationforproject{
  text-align: center;
  color: FloralWhite
}
.motivationforprojectparagraph{
  text-align: center;
  color: FloralWhite
}
.descriptionofproject{
  text-align: center;
  color: FloralWhite
}
.descriptionofprojectparagraph{
  text-align: center;
  color: FloralWhite
}

.toolsandtechneeded{
  text-align: center;
  color: FloralWhite
}
.toolsandtechneededparagraph{
  text-align: center;
  color: FloralWhite
}

.skillsandotherrequirements{
  text-align: center;
  color: FloralWhite
}
.skillsandotherrequirementsparagraph{
  text-align: center;
  color: FloralWhite
}
.projectoutcome{
  text-align: center;
  color: FloralWhite
}
.projectoutcomeparagraph{
  text-align: center;
  color: FloralWhite
}

.referenceslink{
  text-align: center;
}

.references{
  text-align: center;
  font-family: 'Courier New', monospace;
  color: Lightgoldenrodyellow
}

.referenceslinks2{
  text-align: center;
  color: FloralWhite
}
.idealjobpicture{
  text-align: center;
}
.pictureofmepicture{
  text-align: center;
}
.gifofjackeddude{
  text-align: center;
}
